<a href="https://colab.research.google.com/github/GolubchikovKirill/colab/blob/main/lists_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Основы типов данных. Списки и кортежи

Автор: **Булыгин Олег**
* [Я в LinkedIn](https://www.linkedin.com/in/obulygin/)  
* [Мой канал в ТГ по Python](https://t.me/pythontalk_ru)
* [Чат канала](https://t.me/pythontalk_chat)
* [Блог в Телетайпе](https://teletype.in/@pythontalk)

Ссылочки в ноутбуке ведут на полезные доп. материалы, обязательно всё изучайте :)

На текущий момент вы знаете в основном о числовом, строковом и логическом типах данных.

В Python можно узнавать тип переменной, используя встроенную функцию `type()`.

In [ ]:
pi = 3.14
print(type(pi))

pi_str = '3.14'
print(type(pi_str))

<class 'float'>
<class 'str'>

## Преобразование базовых [типов данных](https://teletype.in/@pythontalk/datatypes_python)

Несмотря на то что работа с ними всё же заметно разная, есть возможность преобразования одного типа в другой.

### Преобразование чисел

In [ ]:
my_integer = 10
my_float = 5.5

float_to_int = int(my_float)
print(float_to_int)

int_to_float = float(my_integer)
print(int_to_float)

int_to_str = str(my_integer)
float_to_str = str(my_float)
print(int_to_str)
print(float_to_str)

int_to_bool = bool(my_integer)
float_to_bool = bool(my_float)

print(int_to_bool)
print(float_to_bool)

5
10.0
10
5.5
True
True

### Преобразование строк

In [ ]:
my_str = '42'

str_to_int = int(my_str)
print(str_to_int)

42

In [ ]:
my_str = '42.42'

str_to_float = float(my_str)
print(str_to_float)

42.42

In [ ]:
my_str = 'Hello World!'

str_to_bool = bool(my_str)
print(str_to_bool)

### Преобразование логических значений

In [ ]:
my_bool = True

bool_to_str = str(my_bool)
print(bool_to_str)

bool_to_int = int(my_bool)
print(bool_to_int)

bool_to_float = float(my_bool)
print(bool_to_float)

True
1
1.0

## [Индексация и срезы](https://teletype.in/@pythontalk/indexes_slices)

Каждый элемент в строке пронумерован, и начало отсчёта ведётся с нуля. Порядковый номер элемента называют индексом. Чтобы извлечь элемент строки по индексу, нужно написать его внутри квадратных скобок справа от переменной, которая хранит текстовые данные:

In [ ]:
str_ = "Hello!"

print(str_[0])
print(str_[4])

H
o

Индексы могут быть отрицательными, они нумеруются от последнего символа к первому:

In [ ]:
print(str_[-1])
print(str_[-3])

!
l

Можно извлекать не только одиночные элементы, но и целые подстроки, исползуя срезы.

В общем случае срезы определяются по шаблону:

`[начало:конец:шаг]`

где `начало` — это индекс первого символа подстроки;

`конец` — индекс символа, следующего сразу после подстроки (символ с указанным индексом сам не включается в подстроку);

`шаг` — позволяет извлекать не все элементы, а, например, следующие через один друг за другом, через два и т.д.

In [ ]:
str_ = "Hello!"
print(str_[2:4])

ll

In [ ]:
str_ = "Hello!"
print(str_[2:5:2])

lo

Не все элементы шаблона обязательно должны использоваться.  
* Если мы не указываем начало среза, то по умолчанию срезаем с первого символа в строке.

* Если не указываем конец среза, то по умолчанию срезаем до конца строки.

* Если не указываем значение для шага, то по умолчанию он равен 1.

In [ ]:
str_ = "Hello!"
print(str_[2:])

llo!

In [ ]:
print(str_[:4])

Hell

Можно извлекать символы, используя только шаг. Например, для извлечения каждого второго символа нужно использовать:

In [ ]:
print(str_[::2])

Hlo

Отрицательный шаг позволяет развернуть строку:

In [ ]:
print(str_[::-1])

!olleH

Есть указать в срезе несуществующую границу, то в результат будут включены все существующие элементы. Если же указать несуществующий индекс, то получим ошибку.

In [ ]:
print(str_[2:700])
print(str_[100])

llo!

IndexError: string index out of range

Строки являются неизменяемым типом, поэтому нельзя переназначить элемент по индексу

In [ ]:
str_[0] = '!'

TypeError: 'str' object does not support item assignment

Дана строковая переменная. Напишем код, который выводит на экран:
* средний символ, если число символов в строке нечётное;
* два средних символов, если число символов чётное.


Примеры работы:

```
word = 'test'
Результат:
es

word = 'testing'
Результат
t
```

In [ ]:
word = 'testerer'

if len(word) % 2 != 0:
    print(word[len(word) // 2])
else:
    print(word[len(word) // 2 - 1: len(word) // 2 + 1])

te

## Списки

Список в Python — это упорядоченная изменяемая коллекция объектов произвольных типов.

Пустой список можно создать так:

In [ ]:
my_list = []
print(type(my_list))

<class 'list'>

Можем создать сразу список с элементами:

In [ ]:
languages = ['Python', 'Java', 'C', 'C++', 'JavaScript']
print(type(languages))

<class 'list'>

В списке можно хранить не только простые типы (числа, строки), но также кортежи, словари, списки, списки внутри списков и даже функции.

Можем получить на основе строки через `split`.

Данный метод применяется к строковым объектам и позволяет разбивать их на элементы, разделенные каким-либо символом (пробелом, запятой, тире или указанной последовательностью символов). Каждый элемент после применения метода `split` становится отдельным элементом списка.

In [ ]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"
new_list = queries_string.split(',')
print(new_list)

['смотреть сериалы онлайн', 'новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт']

Списки так же поддерживают индексацию и срезы

In [ ]:
languages = ['Python', 'Java', 'C', 'C++', 'JavaScript']

print(languages[1])
print(languages[:2])
print(languages[2:4])
print(languages[:4:2])

Java
['Python', 'Java']
['C', 'C++']
['Python', 'C']

Списки - изменяемый тип данных, поэтому без проблем можно переназначить его элементы по индексу или срезу.

In [ ]:
languages = ['Python', 'Java', 'C', 'C++', 'JavaScript']

languages[2] = 'C#'
print(languages)

languages[1:4:2] = ['C++', 'Java']
print(languages)

['Python', 'Java', 'C#', 'C++', 'JavaScript']

ValueError: attempt to assign sequence of size 1 to extended slice of size 2

In [ ]:
res = ['a', 'b', 'c', 'd', 'e']

res[-1:-3:-1]

['e', 'd']

### Примеры операций над списками

Метод `append`

Один из самых частоприменимых методов. Его суть заключается в том, чтобы добавить в имеющийся список дополнительный элемент. Он меняет исходный список, но ничего нового не создаёт.

In [ ]:
languages = ['Python', 'Java', 'C', 'C++', 'JavaScript']
languages.append('R')

print(languages)

['Python', 'Java', 'C', 'C++', 'JavaScript', 'R']

In [ ]:
languages = ['Python', 'Java', 'C', 'C++', 'JavaScript']
languages.insert(2, 'C#')
print(languages)

['Python', 'Java', 'C#', 'C', 'C++', 'JavaScript']

Метод `remove`

Принимает в качестве аргумента элемент, который мы хотим удалить.

In [ ]:
languages = ['Python', 'Java', 'C', 'C++', 'JavaScript']
languages.remove('C')

print(languages)

['Python', 'Java', 'C++', 'JavaScript']

`del`

Позволяет удалить элементы по индексу/срезу.

In [ ]:
languages = ['Python', 'Java', 'C', 'C++', 'JavaScript']

del languages[1:3]
print(languages)

['Python', 'C++', 'JavaScript']

Метод `clear`

Полностью очищает исходный список.

In [ ]:
languages = ['Python', 'Java', 'C', 'C++', 'JavaScript']
languages.clear()

print(languages)

[]

Метод `count`

В качестве аргумента принимает значение элемента, количество которого нужно посчитать.

In [ ]:
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
print(income_list.count(13000))

0

In [ ]:
if income_list.count(13000) >= 2:
    print('Много раз встречается')
else:
    print('Раз встречается')

Много раз встречается

Метод `extend`

Присоединяет один список к другому.

In [ ]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
month_list_2 = ['Oct', 'Nov', 'Dec']

month_list.extend(month_list_2)

print(month_list)
print(month_list_2)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
['Oct', 'Nov', 'Dec']

Также  можно складывать списки, но данная операция будет создавать новый список, а не менять исходный.

In [ ]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
month_list_2 = ['Oct', 'Nov', 'Dec']

new_list = month_list + month_list_2
print(new_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

Метод `reverse`

Разворачивает список :)

In [ ]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
month_list.reverse()

print(month_list)

['Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

Срез с отрицательным шагом делает то же самое, но создаёт новый объект.

In [ ]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
month_list = month_list[::-1]

print(month_list)

['Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

Метод `sort`

Внезапно, сортирует элементы в списке.

In [ ]:
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_list.sort()
print(income_list)

income_list.sort(reverse=True)
print(income_list)

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300]
[15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [ ]:
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
min_el = min(income_list)
print(min_el)

13000

Функция `max`

Определение максимального значения.

In [ ]:
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
max_el = max(income_list)
print(max_el)

15300

Функция `sum`

Суммирует элементы в последовательности.

In [ ]:
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
sum_ = sum(income_list)
print(sum_)

128500

Функция `len`

Определеяет количество элементов в последвоательности.

In [ ]:
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
list_len = len(income_list)
print(list_len)

9

В примере ниже переменная `a` и `b` на самом деле указывают на один и тот же объект. В результате, при добавлении в `b` очередного элемента этот элемент добавляется и в исходном листе `a`.

In [ ]:
a = [1, 2, 3]
b = a
b.append(4)

print(a)
print(b)

print(id(a))
print(id(b))

[1, 2, 3]
139295888657344
[1, 2, 3, 4]
[1, 2, 3, 4]
139295888657344
139295888657344

In [ ]:
# создаем копию объекта
a = [1, 2, 3]
b = list(a)
b.append(4)

print(a)
print(b)

print(id(a))
print(id(b))

[1, 2, 3]
[1, 2, 3, 4]
139295888990912
139295887512320

In [ ]:
# создаем копию объекта (другой способ)
a = [1, 2, 3]
b = a.copy()
b.append(4)

print(a)
print(b)

print(id(a))
print(id(b))

[1, 2, 3]
[1, 2, 3, 4]
139295899052224
139295887454400

In [ ]:
# создаем копию объекта (еще способ)
a = [1, 2, 3]
b = a[:]
b.append(4)

print(a)
print(b)

print(id(a))
print(id(b))

[1, 2, 3]
[1, 2, 3, 4]
139295917295616
139295887454016

### Вложенные списки

Элементом списка может быть любой объект, в том числе и другой список.

In [ ]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(my_list[0][0])

1

Какая длина у каждого из этих списков?

In [ ]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]


### Дополнительные материалы

* [Как добавить элементы в список](https://teletype.in/@pythontalk/append_lists)
* [Как удалить элементы из списка](https://teletype.in/@pythontalk/list_remove)
* [Как удалить дубли из списка](https://teletype.in/@pythontalk/remove_duplicates)

## Кортежи

Кортежи в Python очень похожи на списки, но являются неизменяемыми. Их можно создать один раз и затем использовать без модификации элементов внутри.
Все операции, которые не изменяют исходный объект (сложение, умножение на число, методы `index()`, `count()` и пр.) доступны для кортежа.

Пустой кортеж можно создать так:

In [ ]:
tuple_ = ()
print(type(tuple_))

<class 'tuple'>

А что насчёт кортежа из одного элемента?

In [ ]:
one_el_tuple = (42)
print(type(one_el_tuple))

<class 'int'>

Для кортежа важно поставить запятую:

In [ ]:
one_el_tuple = (42, )
print(type(one_el_tuple))

<class 'tuple'>

Кортежи занимают меньший объём памяти. Чтобы увидеть это, можно воспользоваться хитрым методом `.__sizeof__()`.

In [ ]:
tuple_ = (1, 2, 3, 4, 5, 6)
list_ = [1, 2, 3, 4, 5, 6]

print(tuple_.__sizeof__())
print(list_.__sizeof__())

72
88

Так как кортежи неизменяемы, то вот так изменить их элементы мы не сможем (аналогично, как со строками).

In [ ]:
tuple_[0] = 500

TypeError: 'tuple' object does not support item assignment

In [ ]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      MonthDayNano
 |      UnraisableHookArgs
 |      VersionInfoAttributes
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

## Преобразование составных структур

Строки в кортеж и список

In [ ]:
some_str = 'Hello'

str_to_list = list(some_str)
print(str_to_list)

str_to_tuple = tuple(some_str)
print(str_to_tuple)

['H', 'e', 'l', 'l', 'o']
('H', 'e', 'l', 'l', 'o')

Список в строку и кортеж

In [ ]:
some_list = ['a', 'b', 'c']
list_to_str = str(some_list)  # но так делать не стоит
print(list_to_str)

some_str_list = ['a', 'b', 'c']
str_list_to_str = ''.join(some_str_list)
print(str_list_to_str)

# list_to_tuple = tuple(some_list)
# print(list_to_tuple)

['a', 'b', 'c']
abc

Кортеж в строку и список

In [ ]:
some_tuple = ('a', 'b', 'c')

tuple_to_str = str(some_tuple) # и так делать не стоит
print(tuple_to_str)

some_str_tuple = ('a', 'b', 'c')
str_tuple_to_str = ' '.join(some_str_tuple)
print(str_tuple_to_str)

tuple_to_list = list(some_tuple)
print(tuple_to_list)

('a', 'b', 'c')
a b c
['a', 'b', 'c']

## Множественное [присваивание](https://teletype.in/@pythontalk/assignment_operators)

В Python существует множественное присваивание, которое позволяет присваивать значения нескольким переменным одновременно. При множественном присваивании порядок присваивания формируется слева направо. Количество значений в объекте справа и количество переменных слева от оператора присваивания должно совпадать.

In [ ]:
name = 'Илон'
pro = 'Разработчик'
salary = 100000

name, pro, salary = 'Илон', 'Разработчик', 100000
print(name)
print(pro)
print(salary)

Илон
Разработчик
100000

Благодаря множественному присваиванию в Python легко решается задача замены переменных местами.

В других языках эта задача решается через третью переменную.

In [ ]:
answer = 42
code = 4815162342

c = answer

answer = code
code = c

print(answer, code)

4815162342 42

А в Python можно так:

In [ ]:
answer, code = code, answer
print(answer, code)

42 4815162342

4 участника гонок в начале занимали позиции согласно их порядку в представленном списке. Но к окончанию гонки первый участник оказался на последнем месте, а последний на первом. Измените список соответствущим образом максимально лаконично.

In [ ]:
racers = ['Шумахер', 'Хэмилтон', 'Алонсо', 'Райкконен']

In [ ]:
racers[0], racers[-1] = racers[-1], racers[0]

print(racers)

['Райкконен', 'Хэмилтон', 'Алонсо', 'Шумахер']

In [ ]:
racers[0], racers[3] = racers[3], racers[0]

print(racers)

['Шумахер', 'Хэмилтон', 'Алонсо', 'Райкконен']

## [Функция `zip`](https://t.me/pythontalk_ru/530)

Функция `zip()` в Python используется для объединения элементов из нескольких структур данных в [итератор](https://teletype.in/@pythontalk/iterator_generator).  
Этот итератор содержит кортежи с поэлементно сгруппированными элементами исходных структур.  
Если элементов в одном из источников заканчиваются, функция останавливается.

In [ ]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = (13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300)

In [ ]:
salaries_by_names = zip(month_list, income_list)
print(salaries_by_names)

<zip object at 0x7eb059fa6780>

Итератор можно преобразовать в составной тип данных или пройтись по нему циклом.

In [ ]:
print(list(salaries_by_names))

[('Jan', 13000), ('Feb', 14000), ('Mar', 14300), ('Apr', 15000), ('May', 13800), ('Jun', 13000), ('Jul', 14900), ('Aug', 15200), ('Sep', 15300)]

## Операторы `in`, `not in`

Возвращает `True`, если элемент содержится / не содержится в последовательности (списке, кортеже, строке и пр.).

In [ ]:
print('Hello' in 'Hello World')
print('Hello' not in 'Hello World')

True
False

In [ ]:
print('Москва' in ['Санкт-Петербург', 'Екатеринбург', 'Калининград', 'Москва'])
print('Москва' not in ['Санкт-Петербург', 'Екатеринбург', 'Калининград', 'Москва'])

True
False

In [ ]:
sea_animals = ['лебедь', 'рак', 'щука']

if 'щука' in sea_animals:
  print('Варим уху')
else:
  print('Сегодня без ухи')

Варим уху

In [ ]:
some_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(2 in some_list)
print(2 in some_list[0])

False
True

Для продвинутых рекомендую почитать материал про [структуры данных и алгоритмы в Python](https://teletype.in/@pythontalk/data_structures_algorithms).